.profile-main-edit-div {
    padding-left: 1.25%;
    
}
.profile-main-edior-div .bio-section {
    padding-top: 2%;
}


.profile-main {
    padding-top: 10px;
    padding-left: 15px;
}

.profile-main .following-section {
    padding-right: 50px;
}